@model MumanalPG.Models.Ventas.DocumentoRespaldo

@{
    ViewData["Title"] = "Documentos Respaldo";
}

<h2>Borrar</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DocumentoRespaldo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdDocumentoClasificacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdDocumentoClasificacion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sigla)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sigla)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdFrecuenciaUso)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdFrecuenciaUso)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdDocumentoFormato)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdDocumentoFormato)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumeroCopias)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumeroCopias)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LugarFisicoArchivado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LugarFisicoArchivado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EsUsadoComoRequisito)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EsUsadoComoRequisito)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdEstadoRegistro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdEstadoRegistro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdUsuario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdUsuario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdDocumentoRespaldo" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
