@model IEnumerable<MumanalPG.Models.RRHH.VacacionProgramacion>

@{
    ViewData["Title"] = "Programacion Vacaciones";
}

<h2>Lista</h2>

<p>
    <a asp-action="Create">Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdBeneficiarioContratado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gestion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MesControl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdVacacionParametro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEstadoRegistro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdBeneficiarioContratado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gestion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MesControl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdVacacionParametro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEstadoRegistro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRegistro)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdVacacionProgramacion">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdVacacionProgramacion">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.IdVacacionProgramacion">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
