@model MumanalPG.Models.Planificacion.PresupuestoGasto
<div class="row justify-content-center">
    <div class="col-10">
        <div class="card border-info">
            <div class="card-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.IdPartidaGasto)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.IdPartidaGasto)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Descripcion)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Descripcion)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.IdOrganismoFinanciador)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.IdOrganismoFinanciador)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.IdUnidadEjecutora)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.IdUnidadEjecutora)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.IdEstructuraProgramatica)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.IdEstructuraProgramatica)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PptoFormulado)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.PptoFormulado)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.PptoModificaciones)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.PptoModificaciones)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>