@model IEnumerable<MumanalPG.Models.Ventas.TablaPDF>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdDocumento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RutaDocumento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cargado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdDocumento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RutaDocumento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cargado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdTablaPDF">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdTablaPDF">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdTablaPDF">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
