@model MumanalPG.Models.Finanzas.PlanCuentas
<form asp-action="@ViewData["Action"]">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
    <input type="hidden" asp-for="IdPlanCuentas" />
    <div class="form-group m-b-40">
        @Html.LabelFor(m => m.Cuenta, new { @class = "form-control-label" })
        @Html.TextBoxFor(m => m.Cuenta, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Cuenta, "" ,new { @class = "text-danger" })
    </div>
    <div class="form-group m-b-40">
        @Html.LabelFor(m => m.SubCuenta1, new { @class = "form-control-label" })
        @Html.TextBoxFor(m => m.SubCuenta1, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.SubCuenta1, "" ,new { @class = "text-danger" })
    </div>
    <div class="form-group m-b-40">
        @Html.LabelFor(m => m.SubCuenta2, new { @class = "form-control-label" })
        @Html.TextBoxFor(m => m.SubCuenta2, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.SubCuenta2, "" ,new { @class = "text-danger" })
    </div>
    <div class="form-group m-b-40">
        @Html.LabelFor(m => m.NombreCuenta, new { @class = "form-control-label" })
        @Html.TextAreaFor(m => m.NombreCuenta, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.NombreCuenta, "" ,new { @class = "text-danger" })
    </div>
    <div class="form-group m-b-40">
        @Html.LabelFor(m => m.IdAuxiliar1, new { @class = "form-control-label" })
        <br>
        @Html.DropDownListFor(m => m.IdAuxiliar1, new SelectList(ViewBag.Auxiliar,"IdAuxiliar","Descripcion"), new { @class = "form-control" })
    </div>
    <div class="form-group m-b-40">
        @Html.LabelFor(m => m.IdAuxiliar2, new { @class = "form-control-label" })
        <br>
        @Html.DropDownListFor(m => m.IdAuxiliar2, new SelectList(ViewBag.Auxiliar,"IdAuxiliar","Descripcion"), new { @class = "form-control" })
    </div>
    <div class="form-group m-b-40">
        @Html.LabelFor(m => m.IdAuxiliar3, new { @class = "form-control-label" })
        <br>
        @Html.DropDownListFor(m => m.IdAuxiliar3, new SelectList(ViewBag.Auxiliar,"IdAuxiliar","Descripcion"), new { @class = "form-control" })
    </div>
    <div class="form-group m-b-40">
        @Html.LabelFor(m => m.EsDeMovimiento, new {@class = "form-control-label"})
        &nbsp; &nbsp;
        @Html.CheckBoxFor(m => m.EsDeMovimiento, new {@class = "form-control-checkboxfor"})
    </div>
    <div class="form-group m-b-40">
        @Html.LabelFor(m => m.IdTipoCuenta, new { @class = "form-control-label" })
        <br>
        @Html.DropDownListFor(m => m.IdTipoCuenta, new SelectList(ViewBag.TipoCuentaBanco,"IdTipoCuentaBanco","Descripcion"), new { @class = "form-control" })
    </div>
    <div class="form-group m-b-40">
        @Html.LabelFor(m => m.Nivel, new { @class = "form-control-label" })
        @Html.TextBoxFor(m => m.Nivel, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Nivel, "" ,new { @class = "text-danger" })
    </div>
</form>