@model MumanalPG.Models.Ventas.VentaSolicitud
<div class="row justify-content-center">
    <div class="col-10">
        <div class="card border-info">
            <div class="card-body">
                <dl class="dl-horizontal">
                    
                    <dt>
                        @Html.DisplayNameFor(model => model.IdBeneficiario)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.IdBeneficiario)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Descripcion)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Descripcion)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.FechaSolicitud)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.FechaSolicitud)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.IdUnidadEjecutora)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.IdUnidadEjecutora)
                    </dd>
                    @*<dt>
                        @Html.DisplayNameFor(model => model.IdDocumentoRespaldo)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.IdDocumentoRespaldo)
                    </dd>*@
                </dl>
            </div>
        </div>
    </div>
</div>