@using MumanalPG.Utility
@model MumanalPG.Models.Correspondencia.HojaRutaDetalle
@using System.Globalization;
@{
    ViewData["Title"] = "Hoja de Ruta";
    string opcionDerivar = "";
}

<div class="row justify-content-center">
    <div class="col-10">
        <div class="card border-info">
           
            <div class="row">
                <div class=" col-6 btn-toolbar mb-3" role="toolbar">
                    <div class="btn-group mr-2 " role="group">
                        <a asp-action="Index" class="btn btn-secondary" data-intro="Con esta opción podra regresar a la lista principal">
                            <i class="ti-back-left mr-2"></i> <span class="d-none d-sm-inline">Atrás</span>
                        </a>
                    </div>
                </div>
                
                <div class="col-6 btn-toolbar mb-3 justify-content-end" role="toolbar">
                    @if (Model.IdEstadoRegistro == Constantes.Archivado ||
                         Model.IdEstadoRegistro == Constantes.Anulado
                         )
                    {
                        opcionDerivar = "disabled";
                    }
                    <div class="btn-group mr-2" role="group">
                        <div class="btn-group" role="group" data-intro="Click, para derivar esta hoja de ruta, creando 
                                un nuevo documento digital o ajuntando uno físico">
                            <button type="button" class="btn btn-secondary dropdown-toggle @opcionDerivar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="ti-share mr-2"></i> <span class="d-none d-sm-inline">Derivación</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                <a class="dropdown-item" href="#">Generar Documento Digital y Derivar</a>
                                <a asp-action="Derivar" asp-route-id="@Model.Id" class="dropdown-item">Solo Derivar</a>
                            </div>
                        </div>
                        @{
                            int nuevoEstadoArchivar = Constantes.Archivado;
                            int nuevoEstadoAnular = Constantes.Anulado;
                            string archivarText = "Archivar";
                            string anularText = "Anular";
                                                
                            if (Model.IdEstadoRegistro == Constantes.Archivado)
                            {
                                archivarText = "Restaurar";
                                nuevoEstadoArchivar = Constantes.Registrado;
                            } else  if (Model.IdEstadoRegistro == Constantes.Anulado)
                            {
                                anularText = "Restaurar";
                                nuevoEstadoAnular = Constantes.Registrado;
                            }
                                                
                        }
                        <a asp-action="CambiarEstado" asp-route-id="@Model.Id" asp-route-nuevoEstado="@nuevoEstadoArchivar"
                           class="btn btn-secondary" data-intro="Click, para <b>Archivar</b> esta Hoja de Ruta">
                            <i class="ti-harddrives mr-2"></i> <span class="d-none d-sm-inline">@archivarText</span>
                        </a>
                        <a asp-action="CambiarEstado" asp-route-id="@Model.Id" asp-route-nuevoEstado="@nuevoEstadoAnular"
                           class="btn btn-secondary" data-intro="Click, para <b>Anular</b> esta Hoja de Ruta">
                            <i class="ti-trash mr-2"></i> <span class="d-none d-sm-inline">@anularText</span>
                        </a>
                        <a asp-action="CambiarEstado" asp-route-id="@Model.Id" asp-route-nuevoEstado="@Constantes.Anulado"
                           class="btn btn-secondary" data-intro="Haciendo click sobre esta opción podra generar la hoja de Ruta en PDF para poder imprimirlo">
                            <i class="far fa-file-pdf mr-2"></i> <span class="d-none d-sm-inline">Hoja de Ruta</span>
                        </a>
                        @if (Model.HojaRuta.DocumentoId > 0)
                        {
                            <a asp-controller="Documentos" asp-action="Details" asp-route-id="@Model.HojaRuta.DocumentoId" 
                               title="Documento Digital Relacionado" data-modal="link" data-modal-read="True" 
                               class="btn btn-secondary" data-intro="Con esta opción podrá ver el documento digital anexado a esta Hoja de Ruta">
                                <i class="ti-bookmark-alt mr-2"></i> <span class="d-none d-sm-inline">Documento Digital</span>
                            </a>   
                        }
                    </div>
                </div>
            </div>
            

            <div class="card-body">
                <div class="col-12" data-intro="Muestra datos generales de la Hoja de Ruta">
                    <div class="ribbon-wrapper card" >
                        @switch (@Model.IdEstadoRegistro)
                        {
                            case Constantes.Archivado:
                                <div class="ribbon ribbon-bookmark  ribbon-warning">Archivado</div>
                                break;
                            case Constantes.Anulado:
                                <div class="ribbon ribbon-bookmark  ribbon-danger">Anulado</div>
                                break;
                            default:
                                <div class="ribbon ribbon-bookmark  ribbon-success">Activo</div>
                                break;
                                
                        }
                        
                        <div class="text-center text-dark">
                            <h3>CORRESPONDENCIA INTERNA</h3>
                            <h5>@Model.HojaRuta.CiteHojaRuta</h5>
                        </div>
                        @{
                            string label_class = "label-info";
                            switch (Model.HojaRuta.Prioridad)
                            {
                                case Constantes.PrioridadUrgente:
                                    label_class = "label-danger";
                                    break;
                                case Constantes.PrioridadAlta:
                                    label_class = "label-warning";
                                    break;
                                case Constantes.PrioridadBaja:
                                    label_class = "label-inverse";
                                    break;
                            }
                        }
                    </div>
                    <b>Prioridad:</b> 
                    <span class="label @label_class m-r-10 text-capitalize">
                        @Model.HojaRuta.Prioridad.ToLower()
                    </span>
                    <br/>
                    <b>Fecha de Emisión:</b>
                    @Model.FechaRegistro.ToString("dddd, dd 'de' MMMM  'de' yyyy 'a Hrs.' HH:mm", new CultureInfo("es-ES"))
                    <br/>
                    @if (Model.FechaRecepcion != null)
                    {
                        <b>Fecha de Recepción:</b>
                        @Model.FechaRecepcion.Value.ToString("dddd, dd 'de' MMMM  'de' yyyy 'a Hrs.' HH:mm", new CultureInfo("es-ES"))
                    }
                    <br/>
                    <br/>     
                </div>
                
                <div class="table-responsive" data-intro="Muestra datos mas especificos de la Hoja de Ruta">
                    <table class="table table-bordered">
                        <tr>
                            <td class="font-bold text-right">Referencia: </td>
                            <td colspan="5">@Model.HojaRuta.Referencia</td>
                        </tr>
                        <tr>
                            <td class="font-bold text-right">De: </td>
                            <td class="text-capitalize">@Model.FunOrg.Denominacion.ToLower()</td>
                            <td class="font-bold text-right">Para: </td>
                            <td class="text-capitalize">@Model.FunDst.Denominacion.ToLower()</td>
                            <td colspan="2"></td>

                        </tr>
                        <tr>
                            <td colspan="2">SOLICITO A USTED:</td>
                            <td colspan="3">COMENTARIOS ADICIONALES</td>
                            <td>ANEXOS</td>
                        </tr>
                        <tr>
                            <td colspan="2" width="150px">
                                <div class="form-group row p-2">
                                    @foreach (var i in ViewBag.instrucciones)
                                    {
                                        bool is_in = false;
                                        foreach (var di in Model.HRDetalleInstrucciones)
                                        {
                                            if (di.InstruccionId == i.Id)
                                            {
                                                is_in = true;
                                                break;
                                            }

                                        }

                                        if (is_in)
                                        {
                                            <div class="col-sm-12 col-md-6 small p-0">
                                                <label class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input"
                                                           readonly="readonly" checked="checked">
                                                    <span class="custom-control-label">@i.Nombre</span>
                                                </label>
                                            </div>


                                        }
                                        else
                                        {
                                            <div class="col-sm-12 col-md-6 small p-0">
                                                <label class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" readonly="readonly">
                                                    <span class="custom-control-label">@i.Nombre</span>
                                                </label>
                                            </div>
                                        }

                                    }
                                </div>
                            </td>
                            <td colspan="3">
                                <div class="comentarios-adicionales">
                                    @Model.Proveido
                                </div>
                            </td>
                            <td></td>

                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $(':checkbox[readonly=readonly]').click(function(){
            return false;         
        }); 
    }); 
</script>
