@model MumanalPG.Models.Correspondencia.DTO.HojaRutaPDFDTO;
@using MumanalPG.Models.Correspondencia
@using MumanalPG.Utility
@{ Layout = "~/Views/Shared/_PDFLayout.cshtml";}
@{
    ViewData["Title"] = "Hoja de Ruta";
    string[] literal = new string[] {"PRIMER", "SEGUNDO", "TERCER", "CUARTO", "QUINTO", "SEXTO", "SEPTIMO", "OCTAVO", 
        "NOVENO", "DÉCIMO", "UNDÉCIMO", "DUODÉCIMO", "DECIMOTERCER", "DECIMOCUARTO", "DECIMOQUINTO", "DECIMOSEXTO",
        "DECIMOSÉPTIMO", "DECIMOCOTAVO", "DECIMONOVENO","VIGÉSIMO","VIGÉSIMO PRIMERO","VIGÉSIMO SEGUNDO","VIGÉSIMO TERCER",
        "VIGÉSIMO CUARTO","VIGÉSIMO QUINTO","VIGÉSIMO SEXTO","VIGÉSIMO SÉPTIMO","VIGÉSIMO OCTAVO","VIGÉSIMO NOVENO","TRIGÉSIMO",
        "TRIGÉSIMO PRIMERO","TRIGÉSIMO SEGUNDO","TRIGÉSIMO TERCERO","TRIGÉSIMO CUARTO","TRIGÉSIMO QUINTO","TRIGÉSIMO SÉPTIMO",
        "TRIGÉSIMO OCTAVO","TRIGÉSIMO NOVENO","CUADRAGÉSIMO" };
}
<div class="hoja-ruta">
    
    <partial name="_Heading" model="@Model" />
    @{
        string bg_class = "bg-info";
        switch (Model.hojaRuta.Prioridad)
        {
            case Constantes.PrioridadUrgente:
                bg_class = "bg-danger";
                break;
            case Constantes.PrioridadAlta:
                bg_class = "bg-warning";
                break;
            case Constantes.PrioridadBaja:
                bg_class = "bg-default";
                break;
        }
    }
    <div class="row @bg_class small">
        <div class="col col-1 text-center">
            <label>ASUNTO: </label>
        </div>
        @{
            string class_col = Model.hojaRuta.TipoHojaRuta == Constantes.HojaRutaExterna ?  "col-5" : "col-11";
        }
        <div class="col @class_col">
            <p class="bg-light">
                @Model.hojaRuta.Referencia
            </p>
        </div>
        @if (Model.hojaRuta.TipoHojaRuta == Constantes.HojaRutaExterna)
        {
            <div class="col col-1 text-center">
                <label>REMITENTE: </label>
            </div>
            <div class="col col-5">
                <p class="bg-light">
                    @Model.hojaRuta.RemitenteExterno - @Model.hojaRuta.EntidadExterna
                </p>
            </div>   
        }
    </div>
    @{
        int index = 0;
    }
    @foreach (HojaRutaDetalle detalle in Model.derivaciones)
    {
        if (index % 3 == 0 && index > 1)
        {
            <div class="page-break"></div>
            <partial name="_Heading" model="@Model" />
            <div class="row @bg_class small">
                <div class="col col-1 text-center">
                    <label>ASUNTO: </label>
                </div>
                 
                <div class="col @class_col">
                    <p class="bg-light">
                        @Model.hojaRuta.Referencia
                    </p>
                </div>
                @if (Model.hojaRuta.TipoHojaRuta == Constantes.HojaRutaExterna)
                {
                    <div class="col col-1 text-center">
                        <label>REMITENTE: </label>
                    </div>
                    <div class="col col-5">
                        <p class="bg-light">
                            @Model.hojaRuta.RemitenteExterno - @Model.hojaRuta.EntidadExterna
                        </p>
                    </div>   
                }
            </div>
        }
        <div class="box margin-box destinatario pt-0 pb-0 mb-0">
            <label>@literal[index] DESTINATARIO</label>
        </div>
        <partial name="_HojaRutaSeccionPrimera" model="@detalle" />
        index++;
    }
    
    
    @for (int i = Model.derivaciones.Count; i < 21; i++)
    {
         if (i % 3 == 0 && i > 1)
         {
             <div class="page-break"></div>
             <partial name="_Heading" model="@Model" />
             <div class="row @bg_class small">
                 <div class="col col-1 text-center">
                     <label>ASUNTO: </label>
                 </div>
                 
                 <div class="col @class_col">
                     <p class="bg-light">
                         @Model.hojaRuta.Referencia
                     </p>
                 </div>
                 @if (Model.hojaRuta.TipoHojaRuta == Constantes.HojaRutaExterna)
                 {
                     <div class="col col-1 text-center">
                         <label>REMITENTE: </label>
                     </div>
                     <div class="col col-5">
                         <p class="bg-light">
                             @Model.hojaRuta.RemitenteExterno - @Model.hojaRuta.EntidadExterna
                         </p>
                     </div>   
                 }
              </div>
         }

        <div class="box margin-box destinatario pt-0 pb-0 mb-0">
            <label>@literal[i] DESTINATARIO</label>
        </div>
        <partial name="_HojaRutaSeccion" model="@Model" />
    }
   

</div>