@model ReflectionIT.Mvc.Paging.PagingList<MumanalPG.Models.Correspondencia.HojaRutaDetalle>
@using MumanalPG.Utility
@using ReflectionIT.Mvc.Paging
@using System.Globalization;
@addTagHelper *, ReflectionIT.Mvc.Paging
@{
    ViewData["Title"] = "Correspondencia Interna";
    OptionPartial options = new OptionPartial();
    string active_class = "";
    string intro_msg_search = "Puede buscar una Hoja de ruta Interna introduciendo el Cite o la Referencia en este campo, " +
                              "luego presionar la tecla <b>'Enter'</b> o el botón <button class='btn-sm btn-secondary'>" +
                              "<i class='fas fa-search'></i></button>";
    int currentHR = 0;
}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="row">
                <div class="col-lg-2 col-md-3">
                    <div class="card-body inbox-panel">
                        <a asp-action="create" class="show-loader btn btn-success m-b-20 p-10 btn-block waves-effect waves-light" 
                           data-toggle="tooltip" title="Nueva Hoja de Ruta Interna"
                           data-intro="Click, en este botón para crear una nueva Hoja de Ruta Interna">
                            <i class="fas fa-plus"></i><span>&nbsp; Nuevo </span>
                        </a>

                        <ul class="list-group list-group-full">
                            @{ active_class = ((String.Equals(ViewBag.type, Constantes.HRTipoRecibidos)) ? "active" : "");} 
                            <li class="list-group-item @active_class" data-intro="Muestra toda la correspondencia Recibida y no está en estado Archivada o Anulada">
                                <a href="@Url.Action("Index", new {type = Constantes.HRTipoRecibidos, filter = ViewBag.filter})">
                                    <i class="mdi mdi-gmail"></i> Recibidos
                                </a>
                                @* <span class="badge badge-success ml-auto">6</span> *@
                            </li>
                            @{active_class = ((String.Equals(ViewBag.type, Constantes.HRTipoUrgentes)) ?  "active" : "");}
                            <li class="list-group-item @active_class" 
                                data-intro="Muestra toda la correspondencia que ha sido marcada como Urgente y no está en estado Archivada o Anulada">
                                <a href="@Url.Action("Index", new {type = Constantes.HRTipoUrgentes, filter = ViewBag.filter})">
                                    <i class="mdi mdi-alert"></i> Urgentes
                                </a>
                            </li>
                            @{active_class = ((String.Equals(ViewBag.type, Constantes.HRTipoDespachados)) ?  "active" : "");}
                            <li class="list-group-item @active_class" data-intro="Muestra toda la correspondecia que ha sido generada por mi y no está en estado Archivada o Anulada">
                                <a href="@Url.Action("Index", new {type = Constantes.HRTipoDespachados, filter = ViewBag.filter})">
                                    <i class="mdi mdi-send"></i> Derivados
                                </a>
                                @* <span class="badge badge-danger ml-auto">3</span> *@
                            </li>
                            @{active_class = ((String.Equals(ViewBag.type, Constantes.HRTipoArchivados)) ?  "active" : "");}
                            <li class="list-group-item @active_class" data-intro="Muestra toda la correspondecia que a sido archivada">
                                <a href="@Url.Action("Index", new {type = Constantes.HRTipoArchivados, filter = ViewBag.filter})">
                                    <i class="mdi mdi-file-document-box"></i> Archivados
                                </a>
                            </li>
                            @{active_class = ((String.Equals(ViewBag.type, Constantes.HRTipoEliminados)) ?  "active" : "");}
                            <li class="list-group-item @active_class" data-intro="Muestra toda la correspondencia que ha sido Anulada">
                                <a href="@Url.Action("Index", new {type = Constantes.HRTipoEliminados, filter = ViewBag.filter})">
                                    <i class="mdi mdi-delete"></i> Anulados
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            <div class="col-lg-10 col-md-9 bg-light border-left">
                <div class="row mt-3">
                    <div class="col-12">
                        <form method="get" class="form form-search" data-intro="@intro_msg_search">
                            <div class="input-group mb-3">
                                <input name="filter" class="form-control search" placeholder="Buscar por Cite o Referencia..."
                                       value="@Model.RouteValue["Filter"]"/>
                                <input name="type"  type="hidden" value="@ViewBag.type"/>
                                <button type="submit" class="btn btn-secondary input-group-append">
                                    <span class="fas fa-search" aria-hidden="true"></span>
                                </button>
                            </div>            
                        </form>
                    </div>
                </div>
                
                <div class="card-body p-t-0">
                    <div class="card b-all shadow-none">
                        <div class="inbox-center table-responsive">
                            <table class="table table-hover no-wrap">
                                <tbody>
                                @foreach (var item in Model)
                                {
                                    //if (currentHR != item.HojaRutaId)
                                    //{
                                        string unread_class = (item.Leido) ? "" : "unread";

                                        <tr class="@unread_class">
                                            <td style="width: 40px" class="small" title="@item.HojaRuta.CiteHojaRuta">
                                                @item.HojaRuta.SolicitudCodigo/@item.HojaRuta.Gestion
                                            </td>
                                            <td class="hidden-xs-down text-capitalize small">
                                                <div class="">
                                                    <b>De:</b> @item.FunOrg.Denominacion.ToLower()
                                                </div>
                                                <div class="">
                                                    <b>Para:</b> @item.FunDst.Denominacion.ToLower()
                                                </div>
                                            </td>
                                            <td class="max-texts referencia">
                                                <a asp-action="Details" asp-route-id="@item.Id" title="@item.HojaRuta.Referencia (@item.Proveido)"}">
                                                    @{
                                                        string label_class = "label-info";
                                                        switch (item.HojaRuta.Prioridad)
                                                        {
                                                            case Constantes.PrioridadUrgente:
                                                                label_class = "label-danger";
                                                                break;
                                                            case Constantes.PrioridadAlta:
                                                                label_class = "label-warning";
                                                                break;
                                                            case Constantes.PrioridadBaja:
                                                                label_class = "label-inverse";
                                                                break;
                                                        }
                                                    }
                                                    <span class="label @label_class m-r-10 text-capitalize">
                                                        @item.HojaRuta.Prioridad.ToLower()
                                                    </span>
                                                    @item.HojaRuta.Referencia
                                                    <span class="small">(@item.Proveido)</span>                     
                                                </a>
                                            </td>
                                            <td class="hidden-xs-down">
                                                @if(item.Anexos != null){
                                                    <a class="icon-paper-clip"  asp-action="VerPDF" asp-route-id="xyz.pdf"></a>
                                                }
                                            </td>
                                            <td class=" small text-right text-capitalize">
                                                @item.FechaRegistro.ToString("MMM dd, HH:mm", new CultureInfo("es-ES"))
                                            </td>
                                            <td>
                                                <div class="btn-group mr-2" role="group">
                                                    @if (ViewBag.type == Constantes.HRTipoRecibidos ||
                                                         ViewBag.type == Constantes.HRTipoUrgentes)
                                                    {
                                                        <a asp-action="Derivar" asp-route-id="@item.Id" class="btn btn-secondary show-loader" title="Derivar">
                                                            <i class="ti-share"></i>
                                                        </a>
                                                    }

                                                </div>

                                                <a class="dropdown-toggle btn-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="icon-options-vertical"></i>
                                                </a>
                                                @{
                                                    int nuevoEstadoArchivar = Constantes.Archivado;
                                                    int nuevoEstadoAnular = Constantes.Anulado;
                                                    string archivarText = "Archivar";
                                                    string anularText = "Anular";

                                                    if (item.IdEstadoRegistro == Constantes.Archivado)
                                                    {
                                                        archivarText = "Restaurar";
                                                        nuevoEstadoArchivar = Constantes.Registrado;
                                                    }
                                                    else if (item.IdEstadoRegistro == Constantes.Anulado)
                                                    {
                                                        anularText = "Restaurar";
                                                        nuevoEstadoAnular = Constantes.Registrado;
                                                    }
                                                }
                                                <div class="dropdown-menu dropdown-menu-lg-right">
                                                    <a asp-action="Details" asp-route-id="@item.Id" class="dropdown-item">Abrir</a>
                                                    <button class="dropdown-item" type="button">Adjuntar</button>
                                                    @if (ViewBag.type == Constantes.HRTipoRecibidos ||
                                                         ViewBag.type == Constantes.HRTipoUrgentes)
                                                    {
                                                        <button class="dropdown-item" type="button">Crear Documento y Derivar</button>
                                                        <button class="dropdown-item" type="button">Solo Derivar</button>
                                                    }
                                                    <a asp-action="CambiarEstado" asp-route-id="@item.Id" asp-route-from="index"
                                                       asp-route-nuevoEstado="@nuevoEstadoArchivar"
                                                       class="dropdown-item">
                                                        @archivarText
                                                    </a>
                                                    <a asp-action="CambiarEstado" asp-route-id="@item.Id" asp-route-from="index"
                                                       asp-route-nuevoEstado="@nuevoEstadoAnular"
                                                       class="dropdown-item">
                                                        @anularText
                                                    </a>
                                                    <a asp-action="Flujo" asp-route-id="@item.Id" data-modal-size="modal-xl"
                                                       data-modal="link" data-modal-read="True" title="Flujo de Hoja de Ruta"
                                                       class="dropdown-item">
                                                        Ver Flujo
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                       currentHR = item.HojaRutaId;
                                    //}
                                   
                                }

                                </tbody>
                            </table>
                            @if (Model.TotalRecordCount <= 0)
                            {
                                <partial name="_NotFoundPartial" />
                            }
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <nav>
        <vc:pager paging-list="@Model"/>
    </nav>
</div>
<script>
    $(document).ready(function() {
        $('body').removeClass("lock-nav");
    });
</script>