@model ReflectionIT.Mvc.Paging.PagingList<MumanalPG.Models.Correspondencia.HojaRuta>
@using MumanalPG.Utility
@using ReflectionIT.Mvc.Paging
@using System.Globalization;
@addTagHelper *, ReflectionIT.Mvc.Paging
@{
    ViewData["Title"] = "Seguimiento";
    string intro_msg_search = "Puede buscar una Hoja de Ruta introduciendo el cite o nombre en este campo, " +
                              "luego presionar la tecla <b>'Enter'</b> o el bot贸n <button class='btn-sm btn-secondary'>" +
                              "<i class='fas fa-search'></i></button>";
    string intro_filter_msg = "Puede seleccionar esta opci贸n para filtrar las Hojas de Ruta por otros criterios, " +
                              "presionar la tecla <b>'Enter'</b> o el bot贸n <button class='btn-sm btn-secondary'>" +
                              "<i class='fas fa-search'></i></button> una vez que haya definido los criterios de filtro.";
}

<div class="row mt-3">
    <div class="col-12">
        <form method="get" class="form form-search" id="search-form">
            <div class="row">
                <div class="col-11 pr-0" data-intro="@intro_msg_search">
                    <input id="start_date" type="hidden" name="startDate" class="range-date" value="@Model.RouteValue["StartDate"]"/>
                    <input id="end_date" type="hidden" name="endDate" class="range-date" value="@Model.RouteValue["EndDate"]"/>
                    <input id="type" type="hidden" name="typeHR" class="typeHR" value="@Model.RouteValue["TypeHR"]">
                    <div class="input-group mb-3">
                        <input name="filter" class="form-control search" placeholder="Buscar por Remitente, Entidad o Referencia..."
                               value="@Model.RouteValue["Filter"]" autofocus/>
                        <button type="submit" class="btn btn-secondary input-group-append">
                            <span class="fas fa-search" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
                <div class="col-1 pl-0 text-right" data-intro="@intro_filter_msg">
                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modal-filter">
                        <span class="fas fa-filter" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row p-0">
    <div class="col-10">
        @if (ViewBag.startDate != null && ViewBag.endDate != null)
        {
            <span class="badge badge-pill badge-secondary">
                <b>Desde</b> @ViewBag.startDate <b>hasta</b> @ViewBag.endDate
                <a href="#" class="remove-filter text-dark" title="Quitar este filtro" data-remove="range-date">&nbsp;X</a>
            </span>
        }

        @if (ViewBag.typeHR != null)
        {
            <span class="badge badge-pill badge-secondary">
                @ViewBag.typeHR
                <a href="#" class="remove-filter text-dark" title="Quitar este filtro" data-remove="typeHR">&nbsp;X</a>
            </span>
        }
    </div>
    <div class="col-2 text-right">
        <a asp-action="TrackingPDF" asp-route-filter="@Model.RouteValue["Filter"]"
           asp-route-startDate="@ViewBag.startDate" asp-route-endDate="@ViewBag.endDate" asp-route-typeHR="@ViewBag.typeHR"
           class="btn btn-sm btn-success p-10 waves-effect waves-light"
           data-toggle="tooltip" title="Imprimir PDF" target="_blank"
           data-intro="Click, en este bot贸n para imprimir el reporte de seguimiento">
            <i class="fas fa-print"></i><span>&nbsp; PDF </span>
        </a>
    </div>
</div>

<div class="row table-responsive mt-4">
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>@Html.SortableHeaderFor(model => model.FechaRegistro)</th>
            <th>Hoja de Ruta</th>
            <th>Tipo</th>
            <th>Remitente</th>
            <th>Entidad</th>
            <th>Referencia</th>
            <th></th>
        </tr>

        </thead>
        @{ int index = 0; }
        @foreach (var item in Model)
        {
            <tr class="small">
                <td style="width: 120px">
                    <a asp-action="Details" asp-route-hrId="@item.Id" asp-route-modal="true" title="Detalle"
                       data-modal="link" data-modal-read="True">
                        @Html.DisplayFor(modelItem => item.FechaRegistro)
                    </a>
                </td>
                <td>
                    <b>Cite del Documento.:</b> @Html.DisplayFor(modelItem => item.CiteTramite)<br/>
                    <b>Cite Hoja Ruta:</b> @Html.DisplayFor(modelItem => item.CiteHojaRuta)
                </td>
                <td>@Html.DisplayFor(modelItem => item.TipoHojaRuta)</td>
                @if (item.TipoHojaRuta == Constantes.HojaRutaExterna)
                {
                    <td>@Html.DisplayFor(modelItem => item.RemitenteExterno)</td>
                    <td>@Html.DisplayFor(modelItem => item.EntidadExterna)</td>
                }
                else
                {
                    <td>@Html.DisplayFor(modelItem => item.Origen.Denominacion)</td>
                    <td>@Html.DisplayFor(modelItem => item.UnidadEjecutora.Descripcion)</td>
                }
                <td style="width: 300px">@Html.DisplayFor(modelItem => item.Referencia)</td>
                <td>
                    <a asp-action="Flujo" asp-route-id="0" asp-route-hrId="@item.Id" data-modal-size="modal-xl"
                       data-modal="link" data-modal-read="True" title="Flujo de Hoja de Ruta"
                       class="btn btn-sm btn-secondary" data-toggle="tooltip">
                        <i class=" fas fa-code-branch mr-2"></i>
                    </a>
                </td>
            </tr>
        }
    </table>
</div>

<div class="row justify-content-center">
    <nav>
        <vc:pager paging-list="@Model"/>
    </nav>
</div>

<partial name="_ModalFilter"/>

<script>
$(function() {
     $('a.remove-filter').click(function(e) {
         e.preventDefault();
         var removeFilter = $(this).attr('data-remove');
         console.log(removeFilter);
         $(`input.${removeFilter}`).val('');
         $('#search-form').submit();
     });
})
</script>