@model ReflectionIT.Mvc.Paging.PagingList<MumanalPG.Models.Correspondencia.HojaRuta>
@using MumanalPG.Utility
@using ReflectionIT.Mvc.Paging
@using System.Globalization;
@addTagHelper *, ReflectionIT.Mvc.Paging
@{
    ViewData["Title"] = "Seguimiento";
    string intro_msg_search = "Puede buscar una Hoja de Ruta introduciendo el cite o nombre en este campo, " +
                              "luego presionar la tecla <b>'Enter'</b> o el botón <button class='btn-sm btn-secondary'>" +
                              "<i class='fas fa-search'></i></button>";
    string intro_msg_search_daterange = "Puede seleccionar un rango de fechas para buscar una Hoja de Ruta, " +
                              "presionar la tecla <b>'Enter'</b> o el botón <button class='btn-sm btn-secondary'>" +
                              "<i class='fas fa-search'></i></button>";
}

<div class="row mt-3">
    <div class="col-12">
        <form method="get" class="form form-search">
            <div class="row">
                <div class="col-md-2 col-sm-12 text-right pr-0 mr-0 mt-3">
                    <label>Rango de Fechas:</label> 
                </div>
                <div class="col-md-3 col-sm-12" data-intro="@intro_msg_search_daterange">
                    <input type="text" name="daterange" class="form-control search" placeholder="Seleccione rango de fechas"/>
                    <input id="start_date" type="hidden" name="startDate" class="form-control search"
                           value="@Model.RouteValue["StartDate"]"/>
                    <input id="end_date" type="hidden" name="endDate" class="form-control search"
                           value="@Model.RouteValue["EndDate"]"/>
                </div>
                <div class="col-md-7 col-sm-12" data-intro="@intro_msg_search">
                    <div class="input-group mb-3">
                        <input name="filter" class="form-control search" placeholder="Buscar por Remitente, Entidad o Referencia..."
                               value="@Model.RouteValue["Filter"]"/>
                        <button type="submit" class="btn btn-secondary input-group-append">
                            <span class="fas fa-search" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-12 text-right">
        <a asp-action="TrackingPDF" asp-route-filter="@Model.RouteValue["Filter"]" 
           asp-route-startDate="@ViewBag.startDate" asp-route-endDate="@ViewBag.endDate"
           class="btn btn-success m-b-20 p-10 waves-effect waves-light" 
           data-toggle="tooltip" title="Imprimir PDF" target="_blank"
           data-intro="Click, en este botón para imprimir el reporte de seguimiento">
            <i class="fas fa-print"></i><span>&nbsp; PDF </span>
        </a>
    </div>
</div>

<div class="row table-responsive mt-4">
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>@Html.SortableHeaderFor(model => model.FechaRegistro)</th>
            <th>Hoja de Ruta</th>
            <th>Tipo</th>
            <th>Remitente</th>
            <th>Entidad</th>
            <th>Referencia</th>
            <th></th>
        </tr>

        </thead>
        @{int index = 0;}
        @foreach (var item in Model)
        {
            <tr class="small">
                <td style="width: 120px">
                    <a asp-action="Details" asp-route-id="@item.Id" title="Detalle" 
                       data-modal="link" data-modal-read="True">
                        @Html.DisplayFor(modelItem => item.FechaRegistro)
                    </a>
                </td>
                <td>
                    <b>Cite Tramite:</b> @Html.DisplayFor(modelItem => item.CiteTramite)<br/>
                    <b>Cite Hoja Ruta:</b> @Html.DisplayFor(modelItem => item.CiteHojaRuta)
                </td>
                <td>@Html.DisplayFor(modelItem => item.TipoHojaRuta)</td>
                @if (item.TipoHojaRuta == Constantes.HojaRutaExterna)
                {
                    <td>@Html.DisplayFor(modelItem => item.RemitenteExterno)</td>
                    <td>@Html.DisplayFor(modelItem => item.EntidadExterna)</td>
                }
                else
                {
                    <td>@Html.DisplayFor(modelItem => item.Origen.Denominacion)</td>
                    <td>@Html.DisplayFor(modelItem => item.UnidadEjecutora.Descripcion)</td>
                }
                <td style="width: 300px">@Html.DisplayFor(modelItem => item.Referencia)</td>
                <td>
                    <a asp-action="Flujo" asp-route-id="0" asp-route-hrId="@item.Id" data-modal-size="modal-xl"
                       data-modal="link" data-modal-read="True" title="Flujo de Hoja de Ruta"
                       class="btn btn-sm btn-secondary" data-toggle = "tooltip">
                        <i class=" fas fa-code-branch mr-2"></i>
                    </a>
                </td>
            </tr>
        }
    </table>
</div>

<div class="row justify-content-center">
    <nav>
        <vc:pager paging-list="@Model"/>
    </nav>
</div>

<script>
$(function() {
      $('input[name="daterange"]').daterangepicker({
        opens: 'right',
        startDate: $('#start_date').val(),
        endDate: $('#end_date').val(),
        locale: {
          format: 'DD/MM/YYYY',
          "applyLabel": "Aceptar",
          "cancelLabel": "Cancelar",
          "fromLabel": "Desde",
          "toLabel": "a",
          "daysOfWeek": [
              "Do",
              "Lu",
              "Ma",
              "Mi",
              "Ju",
              "Vi",
              "Sa"
          ],
          "monthNames": [
              "Enero",
              "Febrero",
              "Marzo",
              "Abril",
              "Mayo",
              "Junio",
              "Julio",
              "Augosto",
              "Septiembre",
              "Octubre",
              "Noviembre",
              "Deciembre"
          ],
        }
      }, function(start, end, label) {
        console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
        $('#start_date').val(start.format('YYYY-MM-DD'));
        $('#end_date').val(end.format('YYYY-MM-DD'));
      });
})
</script>