@model MumanalPG.Models.Generales.DocumentoRespaldo
<form asp-action="@ViewData["Action"]">
    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
    <input type="hidden" asp-for="IdDocumentoRespaldo" />
    <div class="form-group m-b-40">
        @Html.LabelFor(m => m.IdDocumentoClasificacion, new { @class = "control-label" })
        <br>
        @Html.DropDownListFor(m => m.IdDocumentoClasificacion, new SelectList( ViewBag.DocumentoClasificacion, "IdDocumentoClasificacion","Descripcion"), new { @class = "form-control" })
    </div>
    <div class="form-group m-b-40">
        @Html.LabelFor(m => m.Sigla, new { @class = "control-label" }) 
        @Html.TextBoxFor(m => m.Sigla, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Sigla, "" ,new { @class = "text-danger" })
    </div>
    <div class="form-group m-b-40">
        @Html.LabelFor(m => m.Descripcion, new { @class = "control-label" }) 
        @Html.TextAreaFor(m => m.Descripcion, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Descripcion, "" ,new { @class = "text-danger" })
    </div>
    <div class="form-group m-b-40"> <!-- DropDownList Modificado!!! -->
        @Html.LabelFor(m => m.IdFrecuenciaUso, new { @class = "control-label" })
        <br>
        @Html.DropDownListFor(m => m.IdFrecuenciaUso, new SelectList(ViewBag.FrecuenciaUso,"IdFrecuenciaUso","Descripcion"), new { @class = "form-control" })
        <!-- Codigo Anterior - Actualizar al nuevo codigo de preferencia -->
        <!-- 
        @* @Html.DropDownList("IdFrecuenciaUso", ViewBag.FrecuenciaUso, "Sin asignar", new { @class = "form-control" }) *@
       <select asp-for="IdFrecuenciaUso" class="form-control"
               asp-items="@(new SelectList(ViewBag.FrecuenciaUso, "IdFrecuenciaUso", "Descripcion"))">
       </select>
       -->
    </div>
    <div class="form-group m-b-40">
        @Html.LabelFor(m => m.IdDocumentoFormato, new { @class = "control-label" })
        <br>
        @Html.DropDownList("IdDocumentoFormato", new SelectList(ViewBag.DocumentoFormato, "IdDocumentoFormato","Descripcion"), new { @class = "form-control" })
    </div>
    <div class="form-group m-b-40">
        @Html.LabelFor(m => m.NumeroCopias, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.NumeroCopias, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.NumeroCopias, "" ,new { @class = "text-danger" })
    </div>
    <div class="form-group m-b-40">
        @Html.LabelFor(m => m.LugarFisicoArchivado, new { @class = "control-label" }) 
        @Html.TextAreaFor(m => m.LugarFisicoArchivado, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.LugarFisicoArchivado, "" ,new { @class = "text-danger" })
    </div>
    <div class="form-group m-b-40"> <!-- Checkbox para valores booleanos (true/false) -->
        @Html.LabelFor(m => m.EsUsadoComoRequisito, new {@class = "control-label"})
        &nbsp; &nbsp;
        @Html.CheckBoxFor(m => m.EsUsadoComoRequisito, new { @class = "form-control-checkboxfor" })
    </div>
    <div class="form-group m-b-40">
        @Html.LabelFor(m => m.Orden, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Orden, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Orden, "" ,new { @class = "text-danger" })
    </div>
    <div class="form-group m-b-40">
        @Html.LabelFor(m => m.EsObligatorio, new {@class = "control-label"})
        &nbsp; &nbsp;
        @Html.CheckBoxFor(m => m.EsObligatorio, new {@class = "form-control-checkboxfor"})
    </div>
</form>