@model MumanalPG.Models.RRHH.Beneficiario
<div class="row justify-content-center">
    <div class="col-10">
        <div class="card border-info">
            <div class="card-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.PrimerApellido)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.PrimerApellido)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.SegundoApellido)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.SegundoApellido)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.PrimerNombre)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.PrimerNombre)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.DocumentoIdentidad)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.DocumentoIdentidad)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.PuestoId)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.PuestoId)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>