@model MumanalPG.Models.Finanzas.Banco
<form asp-action="@ViewData["Action"]">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @{
        string hasError = "has-danger";
        string stringErrors = "";
        if (ViewData.ModelState.IsValid) { hasError = ""; }
        else
        {
            var errorList = ViewData.ModelState.Where(x => x.Value.Errors.Count > 0).ToDictionary(kvp => kvp.Key);
            stringErrors = String.Join(",", errorList.Select(x => x.Key));
        }
    }
    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
    <input type="hidden" asp-for="IdBanco" />

    <div class="form-group m-b-40 @if(stringErrors.Contains("Descripcion")){@hasError}">
        @Html.LabelFor(m => m.Descripcion, new { @class = "form-control-label" }) 
        @Html.TextAreaFor(m => m.Descripcion, new { @class = "form-control" })
        <span asp-validation-for="Descripcion" class="text-danger"></span>
    </div>
    <div class="form-group m-b-40 @if(stringErrors.Contains("Sigla")){@hasError}">
        @Html.LabelFor(m => m.Sigla, new { @class = "form-control-label" }) 
        @Html.TextBoxFor(m => m.Sigla, new { @class = "form-control" })
        <span asp-validation-for="Sigla" class="text-danger"></span>
    </div>
    <div class="form-group m-b-40 @if(stringErrors.Contains("NIT")){@hasError}">
        @Html.LabelFor(m => m.NIT, new { @class = "form-control-label" })
        @Html.TextBoxFor(m => m.NIT, new { @class = "form-control" })
        <span asp-validation-for="NIT" class="text-danger"></span>
    </div>
    <div class="form-group m-b-40 @if(stringErrors.Contains("IdMunicipio")){@hasError}">
        @Html.LabelFor(m => m.IdMunicipio, new { @class = "form-control-label" })
        <br>
        @* @Html.DropDownList("IdMunicipio", ViewBag.Municipio, "Sin asignar", new { @class = "form-control" }) *@
        <select asp-for="IdMunicipio" class="form-control"
               asp-items="@(new SelectList(ViewBag.Municipio, "IdMunicipio", "Descripcion"))">
       </select>
    </div>
    <div class="form-group m-b-40 @if(stringErrors.Contains("Direccion")){@hasError}">
        @Html.LabelFor(m => m.Direccion, new { @class = "form-control-label" })
        @Html.TextAreaFor(m => m.Direccion, new { @class = "form-control" })
        <span asp-validation-for="Direccion" class="text-danger"></span>
    </div>
    <div class="form-group m-b-40 @if(stringErrors.Contains("Representante")){@hasError}">
        @Html.LabelFor(m => m.Representante, new { @class = "form-control-label" })
        @Html.TextBoxFor(m => m.Representante, new { @class = "form-control" })
        <span asp-validation-for="Representante" class="text-danger"></span>
    </div>
    <div class="form-group m-b-40 @if(stringErrors.Contains("CargoRepresentante")){@hasError}">
        @Html.LabelFor(m => m.CargoRepresentante, new { @class = "form-control-label" })
        @Html.TextAreaFor(m => m.CargoRepresentante, new { @class = "form-control" })
        <span asp-validation-for="CargoRepresentante" class="text-danger"></span>
    </div>
    <div class="form-group m-b-40 @if(stringErrors.Contains("CodigoPostal")){@hasError}">
        @Html.LabelFor(m => m.CodigoPostal, new { @class = "form-control-label" })
        @Html.TextAreaFor(m => m.CodigoPostal, new { @class = "form-control" })
        <span asp-validation-for="CodigoPostal" class="text-danger"></span>
    </div>
    <div class="form-group m-b-40">
        @Html.LabelFor(m => m.EsReservaFederal, new {@class = "form-control-label"})
        &nbsp; &nbsp;
        @Html.CheckBoxFor(m => m.EsReservaFederal, new { @class = "form-control-checkboxfor" })
    </div>
    <div class="form-group m-b-40 @if(stringErrors.Contains("BancoIntermediario")){@hasError}">
        @Html.LabelFor(m => m.BancoIntermediario, new { @class = "form-control-label" })
        @Html.TextBoxFor(m => m.BancoIntermediario, new { @class = "form-control" })
        <span asp-validation-for="BancoIntermediario" class="text-danger"></span>
    </div>
    <div class="form-group m-b-40 @if(stringErrors.Contains("Observaciones")){@hasError}">
        @Html.LabelFor(m => m.Observaciones, new { @class = "form-control-label" })
        @Html.TextAreaFor(m => m.Observaciones, new { @class = "form-control" })
        <span asp-validation-for="Observaciones" class="text-danger"></span>
    </div>
</form>