@model MumanalPG.Models.Administra.Almacen
<div class="row justify-content-center">
    <div class="col-10">
        <div class="card border-info">
            <div class="card-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.IdTipoAlmacen)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.TipoAlmacenDB.Descripcion)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Descripcion)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Descripcion)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.IdBeneficiario)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.BeneficiarioDB.Denominacion)
                        <br>
                        CI: @Html.DisplayFor(model => model.BeneficiarioDB.DocumentoIdentidad)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.IdMunicipio)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.MunicipioDB.Descripcion)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.IdBarrio)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.BarrioDB.Descripcion)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.IdCalle)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.CalleDB.Descripcion)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.NumeroEdificio)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.NumeroEdificio)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.NumeroPiso)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.NumeroPiso)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.NumeroDepartamento)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.NumeroDepartamento)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Telefono)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Telefono)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Observacion)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Observacion)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>