@model ReflectionIT.Mvc.Paging.PagingList<MumanalPG.Models.RRHHParam.TipoBeneficiario>
@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging
@{
    ViewData["Title"] = "Tipos de Beneficiario";
}

<div class="row">
    <div class="col-12 text-right">
        <a asp-action="Create" class="btn btn-info btn-sm" data-toggle="tooltip" title="Nuevo Tipo de Beneficiario"
           data-modal="link", data-redirect="@Url.Action("Index")">
            <i class="fas fa-plus"></i><span class="d-none d-sm-inline">&nbsp; Nuevo </span>
        </a>
    </div>
</div>
<div class="row mt-3">
    <div class="col-12">
        <form method="get" class="form">
            <div class="input-group mb-3">
                <input name="filter" class="form-control search" placeholder="Buscar por Denominación..."
                       value="@Model.RouteValue["Filter"]"/>
                <button type="submit" class="btn btn-secondary input-group-append">
                    <span class="fas fa-search" aria-hidden="true"></span>
                </button>
            </div>            
        </form>
    </div>
</div>

<div class="row table-responsive mt-4">
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>@Html.SortableHeaderFor(model => model.Denominacion)</th>
            <th>Activo</th>
            <th></th>
        </tr>

        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.IdTipoBeneficiario" title="Detalle" 
                       data-modal="link" data-modal-read="True">
                        @Html.DisplayFor(modelItem => item.Denominacion)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Activo)
                </td>
                <partial name="_TableOptionsPartial" model="item.IdTipoBeneficiario"/>
            </tr>
        }
    </table>
</div>
<div class="row justify-content-center">
    <nav>
        <vc:pager paging-list="@Model"/>
    </nav>
</div>