@model MumanalPG.Models.Generales.SistemaMenu
<form asp-action="@ViewData["Action"]">
    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
    <input type="hidden" asp-for="IdSistemaMenu" />
    <div class="form-group m-b-40">
        @Html.LabelFor(m => m.MenuName, new { @class = "control-label" }) 
        @Html.TextBoxFor(m => m.MenuName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MenuName,"",new { @class = "text-danger" })
    </div>
    <div class="form-group m-b-40">
        @Html.LabelFor(m => m.Descripcion, new { @class = "control-label" }) 
        @Html.TextAreaFor(m => m.Descripcion, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Descripcion,"",new { @class = "text-danger" })
    </div>
    <div class="form-group m-b-40">
        @Html.LabelFor(m => m.EsTerminal, new {@class = "control-label"})
        &nbsp; &nbsp;
        @Html.CheckBoxFor(m => m.EsTerminal, new { @class = "control-checkboxfor" })
    </div>
</form>