@model MumanalPG.Models.Administra.CompraSolicitud

@{
    ViewData["Title"] = "CompraSolicitud";
}

<h2>Detalle</h2>

<div>
    <h4>CompraSolicitud</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Gestion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gestion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdUnidadEjecutora)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdUnidadEjecutora)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CorrelativoUnidad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CorrelativoUnidad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaSolicitud)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaSolicitud)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaRecepcionSolicitud)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaRecepcionSolicitud)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdBeneficiario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdBeneficiario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdBeneficiarioResponsable)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdBeneficiarioResponsable)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Justificacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Justificacion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Observaciones)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CiteTramite)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CiteTramite)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MesNumero)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MesNumero)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdDepartamento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdDepartamento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdPoa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdPoa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdProceso)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdProceso)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdDocumentoRespaldo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdDocumentoRespaldo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumeroDocumento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumeroDocumento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PathArchivo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PathArchivo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArchivoCargado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArchivoCargado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdEstadoRegistro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdEstadoRegistro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdUsuario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdUsuario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdUsuarioAprueba)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdUsuarioAprueba)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaAprueba)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaAprueba)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdCompraSolicitud">Editar</a> |
    <a asp-action="Index">Back to List</a>
</div>
