@model MumanalPG.Models.Finanzas.Auxiliar
<form asp-action="@ViewData["Action"]">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
    <input type="hidden" asp-for="IdAuxiliar" />
    <div class="form-group m-b-40">
        @Html.LabelFor(m => m.Descripcion, new { @class = "form-control-label" })
        @Html.TextBoxFor(m => m.Descripcion, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Descripcion, "" ,new { @class = "text-danger" })
    </div>
    <div class="form-group m-b-40">
        @Html.LabelFor(m => m.NombreTabla, new { @class = "form-control-label" })
        @Html.TextBoxFor(m => m.NombreTabla, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.NombreTabla, "" ,new { @class = "text-danger" })
    </div>
    <div class="form-group m-b-40">
        @Html.LabelFor(m => m.NombreCampoCodigo, new { @class = "form-control-label" })
        @Html.TextBoxFor(m => m.NombreCampoCodigo, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.NombreCampoCodigo, "" ,new { @class = "text-danger" })
    </div>
    <div class="form-group m-b-40">
        @Html.LabelFor(m => m.NombreCampoDescripcion, new { @class = "form-control-label" })
        @Html.TextAreaFor(m => m.NombreCampoDescripcion, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.NombreCampoDescripcion, "" ,new { @class = "text-danger" })
    </div>
</form>