@model MumanalPG.Models.Administra.Bienes

<div class="row justify-content-center">
    <div class="col-10">
        <div class="card border-info">
            <div class="card-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.IdUnidadMedida)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.UnidadMedidaDB.Descripcion)
                        @*@Html.DisplayFor(model => model.IdUnidadMedida)*@
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.CodigoBien)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.CodigoBien)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Descripcion)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Descripcion)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.IdPartidaGasto)
                    </dt>
                    <dd>
                        @*@Html.DisplayFor(model => model.PartidaGasto.Descripcion)*@
                        @Html.DisplayFor(model => model.IdPartidaGasto)
                        <br>
                        @*Codigo: @Html.DisplayFor(model => model.IdPartidaGasto)*@
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Observacion)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Observacion)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.IdEstadoVigente)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.IdEstadoVigente)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>