@model MumanalPG.Models.Finanzas.CuentaBancaria
<div class="row justify-content-center">
    <div class="col-10">
        <div class="card border-info">
            <div class="card-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.IdBanco)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.BancoDB.Descripcion)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.CuentaCodigo)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.CuentaCodigo)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Descripcion)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Descripcion)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.IdTipoCuentaBanco)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.TipoCuentaBancoDB.Descripcion)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.IdTipoMoneda)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.TipoMonedaDB.Descripcion)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.CodigoTgn)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.CodigoTgn)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.FechaApertura)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.FechaApertura)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.IdOrganismoFinanciador)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.OrganismoFinanciadorDB.Descripcion)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.FechaSaldoInicial)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.FechaSaldoInicial)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.SaldoInicialBs)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.SaldoInicialBs)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.SaldoInicialDolares)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.SaldoInicialDolares)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.IngresosBs)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.IngresosBs)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.IngresosDolares)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.IngresosDolares)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.EgresosBs)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.EgresosBs)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.EgresosDolares)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.EgresosDolares)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.SaldoActualBs)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.SaldoActualBs)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.SaldoActualDolares)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.SaldoActualDolares)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.CodigoSigep)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.CodigoSigep)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.EsCuentaUnica)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.EsCuentaUnica)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>