@model MumanalPG.Models.Administra.CompraContratacionCotiza

@{
    ViewData["Title"] = "CompraCotizacion";
}

<h2>Borrar</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CompraContratacionCotiza</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdCompraContratacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdCompraContratacion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaCotiza)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaCotiza)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumeroVentaPliego)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumeroVentaPliego)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CiteCarta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CiteCarta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumeroCotizacionProveedor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumeroCotizacionProveedor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdBeneficiario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdBeneficiario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NombreProveedorQueCotiza)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NombreProveedorQueCotiza)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaEstimadaCompra)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaEstimadaCompra)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaLimiteCotizacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaLimiteCotizacion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdPoa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdPoa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdProceso)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdProceso)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdDocumentoRespaldo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdDocumentoRespaldo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumeroDocumento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumeroDocumento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdEstadoRegistro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdEstadoRegistro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdUsuario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdUsuario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdCompraContratacionCotiza" />
        <input type="submit" value="Borrar" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
