@model MumanalPG.Models.Generales.Calle
<form asp-action="@ViewData["Action"]">
    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
    <input type="hidden" asp-for="IdCalle" />
    <div class="form-group m-b-40">
        @Html.LabelFor(m => m.IdBarrio, new { @class = "control-label" })
        <br>
        @Html.DropDownListFor(m => m.IdBarrio, new SelectList(ViewBag.Barrio,"IdBarrio","Descripcion"), new { @class = "form-control" })
    </div>
    <div class="form-group m-b-40">
        @Html.LabelFor(m => m.Descripcion, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Descripcion, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Descripcion,"",new { @class = "text-danger" })
    </div>
    <div class="form-group m-b-40">
        @Html.LabelFor(m => m.IdCalleTipo, new { @class = "control-label" })
        <br>
        @Html.DropDownListFor(m => m.IdCalleTipo, new SelectList(ViewBag.CalleTipo,"IdCalleTipo","Descripcion"), new { @class = "form-control" })
    </div>
</form>