@model IEnumerable<MumanalPG.Models.Activos.Activo>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-6">
        <h2 class="text-info">LISTA DE ACTIVOS</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-info">&nbsp; Nuevo Activo</a>
    </div>
</div>

@*<table class="table table-striped border>
*@
@*<table class="table table-striped border>*@
@*<table class="table table-striped border>*@
@*<table class="table table-striped border>*@
@*<table class="table table-striped border>*@
@*<table class="table table-striped border>*@
<table class="table table-striped border">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Codigo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ActivoId">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.ActivoId">Detalle</a> |
                    <a asp-action="Delete" asp-route-id="@item.ActivoId">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>



<div class="row">
    <div class="col-6">
        <h2 class="text-info">LISTA DE ACTIVOS</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-info">&nbsp; Nuevo Activo</a>
    </div>
</div>
