@model MumanalPG.Models.FinanzasParam.Partida

@*@{
    ViewData["Title"] = "Delete";
}*@

<h2>Eliminar Partida</h2>

<h3>Esta seguro de eliminar este registro?</h3>
<div>
    @*<h4>Partida</h4>
    <hr />*@
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdSubGrupo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdSubGrupo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gestion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gestion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VidaUtil)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VidaUtil)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdPartida" />
        <input type="submit" value="Eliminar" class="btn btn-default" /> |
        <a asp-action="Index">Regreso a Lista</a>
    </form>
</div>
