@model IEnumerable<MumanalPG.Models.FinanzasParam.Partida>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-6">
        <h2 class="text-info">LISTA DE PARTIDAS</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-info">&nbsp; Nueva Partida</a>
    </div>
</div>


<table class="table table-striped border">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdSubGrupo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gestion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VidaUtil)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdSubGrupo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gestion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VidaUtil)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdPartida">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdPartida">Detalle</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdPartida">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
