@model MumanalPG.Models.Ventas.VentaTarifario
<div class="row justify-content-center">
    <div class="col-10">
        <div class="card border-info">
            <div class="card-body">
                <dl class="dl-horizontal">
                    @*IdVentaTarifario,IdBeneficiario,Justificacion,IdUnidadEjecutora,FechaSolicitud,IdDocumentoRespaldo*@
                    <dt>
                        @Html.DisplayNameFor(model => model.IdVentaTarifario)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.IdVentaTarifario)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Descripcion)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Descripcion)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Escala)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Escala)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.NumeroCuotas)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.NumeroCuotas)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.ValorFinalBs)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ValorFinalBs)
                    </dd>

                </dl>
            </div>
        </div>
    </div>
</div>