@model IEnumerable<MumanalPG.Models.Ventas.vRequisito>

@{
    ViewData["Title"] = "Prestaciones / ASR / Registro / Requisitos";
}


<div class="row">
    <div class="col-6">
        <h3>@ViewBag.Titular</h3>
    </div>
    <div class="col-6 text-right">
        @if (ViewContext.HttpContext.User.IsInRole("SUPER ADMIN") || ViewContext.HttpContext.User.IsInRole("AGENTE"))
        {
            <a class="btn btn-success" asp-action="Enviar" asp-route-id="@ViewBag.IdVentaContratacion">Enviar</a>
        }
        @if (ViewContext.HttpContext.User.IsInRole("SUPER ADMIN") || ViewContext.HttpContext.User.IsInRole("ASRSUPERVISOR1"))
        {
            <a class="btn btn-success" asp-action="Revisado" asp-route-id="@ViewBag.IdVentaContratacion">Revisado</a>
            <a class="btn btn-success" asp-action="Rechazar" asp-route-id="@ViewBag.IdVentaContratacion">Rechazar</a>
        }

        @if (ViewContext.HttpContext.User.IsInRole("SUPER ADMIN") || ViewContext.HttpContext.User.IsInRole("ASRSUPERVISOR2"))
        {
            <a class="btn btn-success" asp-action="Aprobar" asp-route-id="@ViewBag.IdVentaContratacion">Aprobar</a>
        }

        <a class="btn btn-info" asp-action="Regresar">Regresar a Lista</a>
        @*<a asp-action="Enviar" asp-route-id="@item.IdVentaContratacion" class="btn btn-info">&nbsp; Enviar Tramite</a>*@
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Documento
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PathArchivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArchivoCargado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EsObligatorio)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PathArchivo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArchivoCargado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EsObligatorio)
                </td>
                <td>
                    @if (ViewContext.HttpContext.User.IsInRole("SUPER ADMIN") || ViewContext.HttpContext.User.IsInRole("AGENTE"))
                    {
                        <a class="btn btn-info" asp-action="Escanear" asp-route-id="@item.IdVentaRequisito" asp-route-Documento="@item.Descripcion">Scan</a>
                        <a class="btn btn-info" asp-action="CargaArchivo" asp-route-id="@item.IdVentaRequisito" asp-route-Documento="@item.Descripcion">Cargar</a>
                    }
                    @* <a class="btn btn-info" asp-action="VerJPG" asp-route-id="@item.IdVentaRequisito">Ver JPG</a>*@
                    <a class="btn btn-info" asp-action="VerPDF" asp-route-id="@item.IdVentaRequisito">Ver PDF</a>
                </td>
            </tr>
        }
    </tbody>


</table>
