@model IEnumerable<MumanalPG.Models.Ventas.vRequisito>

@{
    ViewData["Title"] = "Prestaciones / ASR / Contratacion / Requisitos";
}

<div class="row">
    <div class="col-6">
        <h2 class="text-info">Lista de Requisitos</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" asp-route-id="@TempData["IdContratacion"]" class="btn btn-info">&nbsp; Nuevo Requisito</a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Documento
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocumentoEntregado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PathArchivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArchivoCargado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocumentoEntregado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PathArchivo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArchivoCargado)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdVentaRequisito">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdVentaRequisito">Detalle</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdVentaRequisito">Eliminar</a> |
                    <a asp-action="VerPDF" asp-route-id="@item.IdVentaRequisito">Ver Doc.</a>
                </td>
            </tr>
        }
    </tbody>
</table>
