@model MumanalPG.Models.Planificacion.HojaRuta

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>HojaRuta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdUnidadEjecutora)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdUnidadEjecutora)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SolicitudCodigo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SolicitudCodigo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdUnidadNivel3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdUnidadNivel3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CiteTramite)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CiteTramite)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CiteFecha)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CiteFecha)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NroFojas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NroFojas)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdEstadoRegistro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdEstadoRegistro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdUsuario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdUsuario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HoraRegistro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HoraRegistro)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdHojaRuta">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
