@model IEnumerable<MumanalPG.Models.Planificacion.HojaRuta>

@{
    ViewData["Title"] = "Hoja de Ruta";
}

<h2>Lista</h2>

<p>
    <a asp-action="Create">Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdUnidadEjecutora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SolicitudCodigo)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.IdUnidadNivel3)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.CiteTramite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CiteFecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NroFojas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEstadoRegistro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraRegistro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdUnidadEjecutora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SolicitudCodigo)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.IdUnidadNivel3)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.CiteTramite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CiteFecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NroFojas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEstadoRegistro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRegistro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraRegistro)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdHojaRuta">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdHojaRuta">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.IdHojaRuta">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
