@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity

@inject IHttpContextAccessor HttpContextAccessor
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=7;IE=8;IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon.png">
    <title>@ViewData["Title"] - Mumanal</title>

    @if (SignInManager.IsSignedIn(User))
    {        
        <link rel="stylesheet" href="~/lib/theme-elegant/css/morris.css" />
        <link rel="stylesheet" href="~/lib/theme-elegant/css/jquery.toast.css" />
        <link rel="stylesheet" href="~/lib/theme-elegant/css/c3.min.css" />
        <link rel="stylesheet" href="~/lib/theme-elegant/css/style.css" />
        <link rel="stylesheet" href="~/lib/theme-elegant/css/sweetalert.css" />
        <link rel="stylesheet" href="~/lib/theme-elegant/css/floating-label.css" />
        <link rel="stylesheet" href="~/lib/theme-elegant/css/bootstrap-switch.min.css" />
    }
    else
    {
        <link rel="stylesheet" href="~/lib/theme-elegant/css/login-register-lock.css" />
        <link rel="stylesheet" href="~/lib/theme-elegant/css/style.css" />
        <link rel="stylesheet" href="~/lib/theme-elegant/css/sweetalert.css" />
    }

</head>
<body class="skin-blue fixed-layout lock-nav">
<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
    <div class="loader">
        <div class="loader__figure"></div>
        <p class="loader__label">Sistema Integrado Mumanal</p>
    </div>
</div>
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">

    @if (SignInManager.IsSignedIn(User))
    {
        <partial name="_Modal"/>
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <partial name="_Navbar"/>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <partial name="_LeftSidebar"/>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->

                <div class="card p-0">
                    <div class="card-body pt-0 pb-0">
                        <div class="row page-titles pt-0 pb-0">
                            <div class="col-md-5 align-self-center">
                                <h4 class="text-themecolor text-uppercase">@ViewData["Title"]</h4>
                            </div>
                            <div class="col-md-7 align-self-center text-right">
                                <div class="d-flex justify-content-end align-items-center">
                                    <breadcrumb></breadcrumb>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="card">
                    <div class="card-body">
                        @RenderBody()
                    </div>
                </div>

                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <partial name="_RightSidebar.cshtml"/>
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer">
          © @DateTime.Now.Year - Sistema Integrado Versión 1.0 - SIGEM 1.0
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    }
    else
    {
        @RenderBody()
    }

</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->


    <script src="~/lib/theme-elegant/js/jquery-3.2.1.min.js"></script>
    <script src="~/lib/theme-elegant/js/jquery.toast.js"></script>
    <script src="~/lib/theme-elegant/js/jquery.sparkline.min.js"></script>
    <script src="~/lib/theme-elegant/js/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/lib/theme-elegant/js/popper.min.js"></script>
    <script src="~/lib/theme-elegant/js/bootstrap.min.js"></script>
    <script src="~/lib/theme-elegant/js/waves.js"></script>
    <script src="~/lib/theme-elegant/js/sidebarmenu.js"></script>
    <script src="~/lib/theme-elegant/js/custom.min.js"></script>
    <script src="~/lib/theme-elegant/js/raphael-min.js"></script>
    <script src="~/lib/theme-elegant/js/morris.min.js"></script>
    <script src="~/lib/theme-elegant/js/d3.min.js"></script>
    <script src="~/lib/theme-elegant/js/c3.min.js"></script>
    <script src="~/lib/theme-elegant/js/sweetalert.min.js"></script>
    <script src="~/lib/theme-elegant/js/bootstrap-switch.min.js"></script>
    <script src="~/lib/theme-elegant/js/site.js"></script>


@RenderSection("Scripts", required: false)
<script>
    $(function() {
        var type = '@TempData["FlashMsgType"]';
        var message = '@TempData["FlashMsg"]';
        $.toastMsg(type, message);        
    });
</script>
</body>
</html>