@using MumanalPG.Utility
<aside class="left-sidebar">
<div class="d-flex no-block nav-text-box align-items-center">
    @* <span> *@
    @*     <img src="img/logo-icon.png" alt=""> *@
    @* </span> *@
    <a class="nav-lock waves-effect waves-dark ml-auto hidden-md-down" href="javascript:void(0)">
        <i class="mdi mdi-toggle-switch"></i>
    </a>
    <a class="nav-toggler waves-effect waves-dark ml-auto hidden-sm-up" href="javascript:void(0)">
        <i class="ti-menu ti-close"></i>
    </a>
</div>
<!-- Sidebar scroll-->
<div class="scroll-sidebar">
<!-- Sidebar navigation-->
@{
    string currentArea = ViewContext.RouteData.Values["area"].ToString();
}

<nav class="sidebar-nav">
    <ul id="sidebarnav">
        <li class="@((String.Equals(currentArea.ToLower(), "correspondencia")) ?  "selected" : "")">
            <a asp-area="correspondencia" asp-controller="dashboard" asp-action="index" class="waves-effect waves-dark">
                <i class="mdi mdi-email-open-outline"></i><span class="hide-menu">Correspondencia</span>
            </a>
        </li>

        <li class="@((String.Equals(currentArea.ToLower(), "Planificacion")) ?  "selected" : "")">
            <a asp-area="Planificacion" asp-controller="dashboardPlan" asp-action="index" class="waves-effect waves-dark">
                <i class="fas fa-bezier-curve"></i><span class="hide-menu">Planificación</span>
            </a>
        </li>

        <li class="@((String.Equals(currentArea.ToLower(), "Prestaciones")) ?  "selected" : "")">
            <a asp-area="Ventas" asp-controller="DashboardVenta" asp-action="index" class="waves-effect waves-dark">
                <i class="fas fa-hand-holding-usd"></i><span class="hide-menu">Prestaciones</span>
            </a>
        </li>

        <li class="@((String.Equals(currentArea.ToLower(), "Administra")) ?  "selected" : "")">
            <a asp-area="Administra" asp-controller="dashboardAdministra" asp-action="index" class="waves-effect waves-dark">
                <i class="fas fa-place-of-worship"></i><span class="hide-menu">Administrativo</span>
            </a>
        </li>

        <li class="@((String.Equals(currentArea.ToLower(), "Finanzas")) ?  "selected" : "")">
            <a asp-area="Finanzas" asp-controller="dashboardFinanzas" asp-action="index" class="waves-effect waves-dark">
                <i class="fas fa-chart-line"></i><span class="hide-menu">Financiero</span>
            </a>
        </li>

        <li class="@((String.Equals(currentArea.ToLower(), "RRHH")) ?  "selected" : "")">
            <a asp-area="RRHH" asp-controller="dashboardRRHH" asp-action="index" class="waves-effect waves-dark">
                <i class="fas fa-people-carry"></i><span class="hide-menu">Recursos Humanos</span>
            </a>
        </li>

      
        <li class="nav-small-cap"></li>
       
        <li>
            <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                <i class="fa fa-briefcase"></i><span class="hide-menu">Generales</span>
            </a>
            <ul aria-expanded="false" class="collapse">
                <li>
                    <a asp-area="Generales" asp-controller="CalleTipo" asp-action="Index">
                        Tipo de Calle <i class="fa fa-map"></i>
                    </a>
                </li>
                <li>
                    <a asp-area="Generales" asp-controller="EdificioTipo" asp-action="Index">
                        Tipo de Edificio <i class="fa fa-map"></i>
                    </a>
                </li>
                <li>
                    <a asp-area="Generales" asp-controller="Barrio" asp-action="Index">
                        Barrio <i class="fa fa-map"></i>
                    </a>
                </li>
                <li>
                    <a asp-area="Generales" asp-controller="Calle" asp-action="Index">
                        Calle <i class="fa fa-map"></i>
                    </a>
                </li>
                <li>
                    <a asp-area="Generales" asp-controller="Departamento" asp-action="Index">
                        Departamento <i class="fa fa-map"></i>
                    </a>
                </li>
                <li>
                    <a asp-area="Generales" asp-controller="Continente" asp-action="Index">
                        Continente <i class="fas fa-globe-americas"></i>
                    </a>
                </li>
                <li>
                    <a asp-area="Generales" asp-controller="Municipio" asp-action="Index">
                        Municipio <i class="fas fa-map-marker-alt"></i>
                    </a>
                </li>
                <li>
                    <a asp-area="Generales" asp-controller="Pais" asp-action="Index">
                        Pais <i class="fa fa-map-signs"></i>
                    </a>
                </li>
                <li>
                    <a asp-area="Generales" asp-controller="Provincia" asp-action="Index">
                        Provincia <i class="fas fa-map-marked-alt"></i>
                    </a>
                </li>
                <li>
                    <a asp-area="Generales" asp-controller="Zona" asp-action="Index">
                        Zona <i class="fas fa-map-marked-alt"></i>
                    </a>
                </li>
                <li>
                    <a asp-area="Generales" asp-controller="DocumentoFormato" asp-action="Index">
                        Documento Formato <i class="fas fa-file-alt"></i>
                    </a>
                </li>
                <li>
                    <a asp-area="Generales" asp-controller="DocumentoClasificacion" asp-action="Index">
                        Documento Clasificacion <i class="fas fa-file-alt"></i>
                    </a>
                </li>
                <li>
                    <a asp-area="Generales" asp-controller="FrecuenciaUso" asp-action="Index">
                        Frecuencia de Uso <i class="fas fa-file-alt"></i>
                    </a>
                </li>
                <!-- <li>
                <li><a href="javascript:void(0)">Documento Respaldo<i class="ti-list-ol"></i></a></li>
            </li> -->
                <li>
                    <a asp-area="Generales" asp-controller="SistemaMenu" asp-action="Index">
                        Menú de Sistema <i class="fas fa-file-alt"></i>
                    </a>
                </li>
                <li>
                    <a asp-area="Generales" asp-controller="SistemaFormulario" asp-action="Index">
                        Formulario de Sistema <i class="fas fa-file-alt"></i>
                    </a>
                </li>
                <li>
                    <a asp-area="Generales" asp-controller="ParametrosGenerales" asp-action="Index">
                        Parametros Generales <i class="far fa-list-alt"></i>
                    </a>
                </li>
                @*<li>
                    <a class="has-arrow" href="javascript:void(0)" aria-expanded="false">Clasificadores<i class="ti-align-left"></i></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="javascript:void(0)">Clasif 2<i class="ti-list-ol"></i></a></li>
                    </ul>
                </li>*@
            </ul>
        </li>
      
        @if (User.IsInRole(SD.SuperAdminEndUser) || User.IsInRole(SD.AdminEndUser))
        {
            <li class="nav-small-cap"></li>
            <li>
                <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                    <i class="fas fa-cog"></i><span class="hide-menu">Configuraciones</span>
                </a>
                <ul aria-expanded="false" class="collapse">

                    <li>
                        <a asp-area="Admin" asp-controller="AdminUsers" asp-action="Index">Usuarios<i class="ti-layout-menu-separated"></i></a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="RoleViewModel" asp-action="GetAllRoles">Roles<i class="mdi mdi-page-layout-header"></i></a>
                    </li>
                </ul>
            </li>
        }

        @*@if (User.IsInRole(SD.SuperAdminEndUser) || User.IsInRole(SD.AdminEndUser))
        {
            <li>
                <a class="waves-effect waves-dark" asp-area="Admin" asp-controller="Appointments" asp-action="Index">
                    Citas
                    <i class="fa fa-circle-o text-danger"></i>
                </a>
            </li>

        }*@

        <li class="nav-small-cap"></li>
    </ul>
</nav>
<!-- End Sidebar navigation -->
</div>
<!-- End Sidebar scroll-->
</aside>