@model MumanalPG.Models.Administra.CompraContratacion

@{
    ViewData["Title"] = "CompraContratación";
}

<h2>Borrar</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CompraContratacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdCompraSolicitud)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdCompraSolicitud)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gestion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gestion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaCompra)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaCompra)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdBeneficiario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdBeneficiario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdBeneficiarioResponsable)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdBeneficiarioResponsable)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Concepto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Concepto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Observaciones)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CiteTramite)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CiteTramite)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdModalidadContratacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdModalidadContratacion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MesNumero)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MesNumero)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdDepartamento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdDepartamento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaFinal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaFinal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdPoa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdPoa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdProceso)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdProceso)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdDocumentoRespaldo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdDocumentoRespaldo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumeroDocumento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumeroDocumento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArchivoRespaldo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArchivoRespaldo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArchivoRespaldoCargado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArchivoRespaldoCargado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdEstadoRegistro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdEstadoRegistro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdUsuario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdUsuario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdUsuarioAprueba)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdUsuarioAprueba)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaAprueba)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaAprueba)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdCompraContratacion" />
        <input type="submit" value="Borrar" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
