@model MumanalPG.Models.Ventas.VentaContrato
<form asp-action="@ViewData["Action"]">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @{
        string hasError = "has-danger";
        string stringErrors = "";
        if (ViewData.ModelState.IsValid) { hasError = ""; }
        else
        {
            var errorList = ViewData.ModelState.Where(x => x.Value.Errors.Count > 0).ToDictionary(kvp => kvp.Key);
            stringErrors = String.Join(",", errorList.Select(x => x.Key));
        }

    }
    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />

    <input type="hidden" asp-for="IdVentaContrato" />

    <div class="form-group m-b-40 @if(stringErrors.Contains("IdUnidadEjecutora")){@hasError}">
        <label asp-for="IdUnidadEjecutora" class="form-control-label"></label>
        <br>
        @Html.DropDownList("UnidadEjecutora", ViewBag.UnidadEjecutora, "Sin asignar", new { @class = "form-control" })
    </div>

    <div class="form-group m-b-40 @if(stringErrors.Contains("IdBeneficiario")){@hasError}">
        <label asp-for="IdBeneficiario" class="form-control-label"></label>
        <br>
        @Html.DropDownList("Beneficiario", ViewBag.Beneficiario, "Sin asignar", new { @class = "form-control" })
    </div>

    <div class="form-group m-b-40 @if(stringErrors.Contains("IdVentaTarifario")){@hasError}">
        <label asp-for="IdVentaTarifario" class="form-control-label"></label>
        <br>
        @Html.DropDownList("VentaTarifario", ViewBag.VentaTarifario, "Sin asignar", new { @class = "form-control" })
    </div>

    <div class="form-group m-b-40 @if(stringErrors.Contains("Descripcion")){@hasError}">
        <label asp-for="Descripcion" class="form-control-label"></label>
        <input asp-for="Descripcion" class="form-control" />
        <span asp-validation-for="Descripcion" class="text-danger"></span>
    </div>

    <div class="form-group m-b-40 @if(stringErrors.Contains("FechaVenta")){@hasError}">
        <label asp-for="FechaVenta" class="form-control-label"></label>
        <input asp-for="FechaVenta" class="form-control" />
        <span asp-validation-for="FechaVenta" class="text-danger"></span>
    </div>
    <div class="form-group m-b-40 @if(stringErrors.Contains("TotalBs")){@hasError}">
            <label asp-for="TotalBs" class="form-control-label"></label>
            <input asp-for="TotalBs" class="form-control" />
            <span asp-validation-for="TotalBs" class="text-danger"></span>
        </div>

</form>
