@model MumanalPG.Models.Generales.DocumentoClasificacion
<form asp-action="@ViewData["Action"]">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @{
        string hasError = "has-danger";
        string stringErrors = "";
        if (ViewData.ModelState.IsValid) { hasError = ""; }
        else
        {
            var errorList = ViewData.ModelState.Where(x => x.Value.Errors.Count > 0).ToDictionary(kvp => kvp.Key);
            stringErrors = String.Join(",", errorList.Select(x => x.Key));
        }
    }
    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
    <input type="hidden" asp-for="IdDocumentoClasificacion" />
    <div class="form-group m-b-40 @if(stringErrors.Contains("Sigla")){@hasError}">
        @Html.LabelFor(m => m.Sigla, new { @class = "form-control-label" }) 
        @Html.TextBoxFor(m => m.Sigla, new { @class = "form-control" })
        <span asp-validation-for="Sigla" class="text-danger"></span>
    </div>
    <div class="form-group m-b-40 @if(stringErrors.Contains("Descripcion")){@hasError}">
        @Html.LabelFor(m => m.Descripcion, new { @class = "form-control-label" }) 
        @Html.TextBoxFor(m => m.Descripcion, new { @class = "form-control" })
        <span asp-validation-for="Descripcion" class="text-danger"></span>
    </div>
</form>