@model MumanalPG.Models.Ventas.VentaContratacion

@{
    ViewData["Title"] = "Prestaciones / ASR / Contratacion";
}

<h2>Nueva Contratación</h2>

@*<h4>Nueva Contratación</h4>*@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" onsubmit="return ValidaAntesGrabar()">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <table>
                <tr>
                    <td>Beneficiario</td>
                    <td>
                        @Html.DropDownList("Beneficiarios", (IEnumerable<SelectListItem>)ViewBag.Beneficiarios, new { size = "1", style = "width: 300px" })
                        @*@Html.DropDownList("Beneficiarios")*@
                    </td>
                </tr>
                <tr>
                    <td>.</td>
                    <td>.</td>
                </tr>
                <tr>
                    <td><label asp-for="IdBeneficiarioGarante" class="control-label"></label></td>
                    <td>
                        @Html.DropDownList("Garantes", (IEnumerable<SelectListItem>)ViewBag.Garantes, new { size = "1", style = "width: 300px" })
                    </td>
                </tr>
                <tr>
                    <td><label asp-for="FechaVenta" class="control-label"></label></td>
                    <td>
                        <input asp-for="FechaVenta" class="form-control" type="date" />
                        <span asp-validation-for="FechaVenta" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td>Regional</td>
                    <td>
                        @*@Html.DropDownList("UnidadesEjecutoras")*@
                        @Html.DropDownList("UnidadesEjecutoras", (IEnumerable<SelectListItem>)ViewBag.UnidadesEjecutoras, new { size = "1", style = "width: 300px" })
                    </td>
                </tr>
                <br>
                <tr>
                    <td><label asp-for="CorrelativoUnidad" class="control-label"></label></td>
                    <td>
                        <input asp-for="CorrelativoUnidad" class="form-control" />
                        <span asp-validation-for="CorrelativoUnidad" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td><label asp-for="IdAsrSiver" class="control-label"></label></td>
                    <td>
                        <input asp-for="IdAsrSiver" class="form-control" />
                        <span asp-validation-for="IdAsrSiver" class="text-danger"></span>
                    </td>
                </tr>
            </table>

            @*<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <label asp-for="Name" class="control-label"></label>
                <select asp-for="IdUnidadEjecutora"
                        class="form-control"
                        asp-items="@(new SelectList(@ViewBag.listaUnidadEjecutora,"IdUnidadEjecutora", "Descripcion"))"></select>
            </div>*@

            <br>
            <div class="form-group">
                <input type="submit" value="Grabar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
