@model IEnumerable<MumanalPG.Models.Ventas.VentaContratacion>

@{
    ViewData["Title"] = "Prestaciones / ASR / Contratacion";
}

<div class="row">
    <div class="col-6">
        <h2 class="text-info">Lista de Contrataciones</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-info">&nbsp; Nuevo Contratación</a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Gestión
                @*@Html.DisplayNameFor(model => model.Gestion)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUnidadEjecutora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorrelativoUnidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaVenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdBeneficiario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdBeneficiarioGarante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdAsrSiver)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Gestion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdUnidadEjecutora)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CorrelativoUnidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaVenta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdBeneficiario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdBeneficiarioGarante)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdAsrSiver)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdVentaContratacion">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdVentaContratacion">Detalle</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdVentaContratacion">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
