@model IEnumerable<MumanalPG.Models.Ventas.vContratacion>

@{
    ViewData["Title"] = "Prestaciones / ASR / Registro";
}

<h3>@ViewBag.Mensaje</h3>

<div class="row">
    <div class="col-6">
        <h2 class="text-info">Lista de Registros ASR</h2>
    </div>
    <div class="col-6 text-right">
        @if (ViewContext.HttpContext.User.IsInRole("SUPER ADMIN") || ViewContext.HttpContext.User.IsInRole("AGENTE"))
        {
            <a asp-action="Create" class="btn btn-info">&nbsp; Nuevo Registro</a>
        }
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Numero ASR
            </th>
            @*<th>
                Num. Solicitud
            </th>*@
            <th>
                Regional o Agencia
            </th>
            <th>
                Fecha Registro
            </th>
            <th>
                Solicitante
            </th>
            @*<th>
                Garante
            </th>*@
            <th>
                Estado
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdAsrSiver)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.CorrelativoUnidad)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.UnidadEjecutora)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaVenta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Beneficiario)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Garante)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    <a class="btn btn-skype" asp-action="Requisitos" asp-route-id="@item.IdVentaContratacion" asp-route-Beneficiario="@item.Beneficiario" asp-route-IdAsrSiver="@item.IdAsrSiver">Requisitos</a>
                    @if (ViewContext.HttpContext.User.IsInRole("SUPER ADMIN") || ViewContext.HttpContext.User.IsInRole("AGENTE"))
                    {
                        <a class="btn btn-success" asp-action="Enviar" asp-route-id="@item.IdVentaContratacion">Enviar</a>
                    }
                    @*<a class="btn btn-info" asp-action="Details" asp-route-id="@item.IdVentaContratacion">Detalle</a>*@
                    @*<a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdVentaContratacion">Eliminar</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
