@model MumanalPG.Models.Generales.Municipio
<form asp-action="@ViewData["Action"]">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @{
        string hasError = "has-danger";
        string stringErrors = "";
        if (ViewData.ModelState.IsValid) { hasError = ""; }
        else
        {
            var errorList = ViewData.ModelState.Where(x => x.Value.Errors.Count > 0).ToDictionary(kvp => kvp.Key);
            stringErrors = String.Join(",", errorList.Select(x => x.Key));
        }
    }
    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
    <input type="hidden" asp-for="IdMunicipio" />
    <div class="form-group m-b-40 @if(stringErrors.Contains("IdProvincia")){@hasError}">
        @Html.LabelFor(m => m.IdProvincia, new { @class = "form-control-label" })
        <br>
        @* @Html.DropDownList("Provincia", ViewBag.Provincia, "Sin asignar", new { @class = "form-control" }) *@
       <select asp-for="IdProvincia" class="form-control"
               asp-items="@(new SelectList(ViewBag.Provincia, "IdProvincia", "Descripcion"))">
       </select>
    </div>
    <div class="form-group m-b-40 @if(stringErrors.Contains("Descripcion")){@hasError}">
        @Html.LabelFor(m => m.Descripcion, new { @class = "form-control-label" }) 
        @Html.TextBoxFor(m => m.Descripcion, new { @class = "form-control" })
        <span asp-validation-for="Descripcion" class="text-danger"></span>
    </div>
    <div class="form-group m-b-40 @if(stringErrors.Contains("Sigla")){@hasError}">
        @Html.LabelFor(m => m.Sigla, new { @class = "form-control-label" }) 
        @Html.TextBoxFor(m => m.Sigla, new { @class = "form-control" })
        <span asp-validation-for="Sigla" class="text-danger"></span>
    </div>
    <div class="form-group m-b-40 @if(stringErrors.Contains("Poblacion")){@hasError}">
        @Html.LabelFor(m => m.Poblacion, new { @class = "form-control-label" }) 
        @Html.TextBoxFor(m => m.Poblacion, new { @class = "form-control" })
        <span asp-validation-for="Poblacion" class="text-danger"></span>
    </div>
    <div class="form-group m-b-40 @if(stringErrors.Contains("GestionCreacion")){@hasError}">
        @Html.LabelFor(m => m.GestionCreacion, new { @class = "form-control-label" }) 
        @Html.TextBoxFor(m => m.GestionCreacion, new { @class = "form-control" })
        <span asp-validation-for="GestionCreacion" class="text-danger"></span>
    </div>
</form>