@model IEnumerable<MumanalPG.Models.Planificacion.HojaRutaDocumentos>

@{
    ViewData["Title"] = "Hoja Ruta Documentos";
}

<h2>Lista</h2>

<p>
    <a asp-action="Create">Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdHojaRuta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdDocumentoRespaldo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CiteRespaldo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEstadoRegistro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraRegistro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdHojaRuta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDocumentoRespaldo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CiteRespaldo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEstadoRegistro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRegistro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraRegistro)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdHojaRutaDocumentos">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdHojaRutaDocumentos">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.IdHojaRutaDocumentos">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
