@model IEnumerable<MumanalPG.Models.Administra.TipoAlmacen>

@{
    ViewData["Title"] = "TipoAlmacen";
}

<h2>Listado</h2>

<p>
    <a asp-action="Create">Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEstadoRegistro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEstadoRegistro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRegistro)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdTipoAlmacen">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdTipoAlmacen">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdTipoAlmacen">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
