@model MumanalPG.Models.Generales.Pais
<div class="row justify-content-center">
    <div class="col-10">
        <div class="card border-info">
            <div class="card-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.IdContinente)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.IdContinente)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.CodigoPais)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.CodigoPais)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Descripcion)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Descripcion)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Sigla)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Sigla)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.CodigoTelefonico)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.CodigoTelefonico)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.DescripcionIngles)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.DescripcionIngles)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.CodigoIso)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.CodigoIso)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.CodigoAeropuerto)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.CodigoAeropuerto)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.CodigoHorario)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.CodigoHorario)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>