@model MumanalPG.Models.Generales.Pais
<form asp-action="@ViewData["Action"]">
    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
    <input type="hidden" asp-for="IdPais" />

    <div class="form-group m-b-40">
        @Html.LabelFor(m => m.IdContinente, new { @class = "control-label" }) 
        <br>
        @Html.DropDownListFor(m => m.IdContinente, new SelectList(ViewBag.Continente,"IdContinente","Descripcion"), new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.IdContinente, "" ,new { @class = "text-danger" })
    </div>
    <div class="form-group m-b-40">
        @Html.LabelFor(m => m.CodigoPais, new { @class = "control-label" }) 
        @Html.TextBoxFor(m => m.CodigoPais, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CodigoPais, "" ,new { @class = "text-danger" })
    </div>
    <div class="form-group m-b-40">
        @Html.LabelFor(m => m.Descripcion, new { @class = "control-label" }) 
        @Html.TextBoxFor(m => m.Descripcion, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Descripcion, "" ,new { @class = "text-danger" })
    </div>
    <div class="form-group m-b-40">
        @Html.LabelFor(m => m.Sigla, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Sigla, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Sigla, "" ,new { @class = "text-danger" })
    </div>
    <div class="form-group m-b-40">
        @Html.LabelFor(m => m.CodigoTelefonico, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.CodigoTelefonico, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CodigoTelefonico, "" ,new { @class = "text-danger" })
    </div>
    <div class="form-group m-b-40">
        @Html.LabelFor(m => m.DescripcionIngles, new { @class = "control-label" }) 
        @Html.TextBoxFor(m => m.DescripcionIngles, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.DescripcionIngles, "" ,new { @class = "text-danger" })
    </div>
    <div class="form-group m-b-40">
        @Html.LabelFor(m => m.CodigoIso, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.CodigoIso, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CodigoIso, "" ,new { @class = "text-danger" })
    </div>
    <div class="form-group m-b-40">
        @Html.LabelFor(m => m.CodigoAeropuerto, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.CodigoAeropuerto, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CodigoAeropuerto, "" ,new { @class = "text-danger" })
    </div>
    <div class="form-group m-b-40">
        @Html.LabelFor(m => m.CodigoHorario, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.CodigoHorario, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CodigoHorario, "" ,new { @class = "text-danger" })
    </div>
</form>