@model MumanalPG.Models.Planificacion.HojaRutaDetalle

@{
    ViewData["Title"] = "HojaRuta Detalle";
}

<h2>Detalle</h2>

<div>
    <h4>HojaRutaDetalle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdHojaRuta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdHojaRuta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdUnidadEjecutora)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdUnidadEjecutora)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdUnidadEjecutoraDestino)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdUnidadEjecutoraDestino)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdUnidadEjecutoraCopia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdUnidadEjecutoraCopia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdUnidadEjecutoraCoordinar)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdUnidadEjecutoraCoordinar)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Idbeneficiario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Idbeneficiario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdbeneficiarioDestino)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdbeneficiarioDestino)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdbeneficiarioCopia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdbeneficiarioCopia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdbeneficiarioCoordinar)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdbeneficiarioCoordinar)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlazoDias)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlazoDias)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Proveido)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Proveido)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdEstadoRegistro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdEstadoRegistro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdUsuario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdUsuario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HoraRegistro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HoraRegistro)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdHojaRutaDetalle">Editar</a> |
    <a asp-action="Index">Back to List</a>
</div>
